<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="cloudsmith" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/KshitizGIT/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="KshitizGIT" />
      <add key="ClearTextPassword" value="bd40770fdcb33b684596c5aae70bf1ad843be914" />
    </github>
  </packageSourceCredentials>
</configuration>
